
<label>Room name</label>
<input type="text" class="form-control col-sm-6" name="" class="room-name" value="">
<hr>
<span>Participants</span>
{{> zoom/breakoutrooms/room/participants }}
<hr>
<span>Participant groups</span>
{{> zoom/breakoutrooms/room/groups }}
