<div id="data-to-clone" class="hidden">
    <div id="rooms-list-item">
        <li class="nav-item">
            <a class="nav-link" href="" data-toggle="tab" role="tab">
                <span class="fa fa-trash-o fa-lg pull-right delete-room" title="{{#str}} deleteroom, zoom{{/str}}" aria-hidden="true"></span>
                <span class="tab-name"></span>
            </a>
        </li>
    </div>
    <div id="rooms-list-item-data">
        <div class="tab-pane" id="" role="tabpanel">
            {{> zoom/breakoutrooms/datatoclone/data }}
        </div>
    </div>
</div>

