<div class="card">
    <div class="card-body">
        <select id="" class="room-participants" name="" multiple>
            {{#courseparticipants}}
            <option value="{{id}}-">{{email}}</option>
            {{/courseparticipants}}
        </select>
    </div>
</div>