.zoom-info {
    padding: 0.2em 0.6em 0.3em;
    color: #fff;
    border-radius: 0.25em;
}

#show-more-button {
    padding-left: 0;
    border-left: 0;
}

#page-mod-zoom-view a .btn-primary .icon {
    color: white;
}