<div class="card">
    <div class="card-body">
        <select id="groups-{{roomid}}" class="room-groups" name="{{toclone}}roomsgroups[]" multiple>
            {{#coursegroups}}
            <option value="{{roomid}}-{{groupid}}" {{#selected}}selected{{/selected}}>{{groupname}}</option>
            {{/coursegroups}}
        </select>
    </div>
</div>