<div class="card">
    <div class="card-body">
        <select id="participants-{{roomid}}" class="room-participants" name="{{toclone}}roomsparticipants[]" multiple>
            {{#courseparticipants}}
            <option value="{{roomid}}-{{participantid}}" {{#selected}}selected{{/selected}}>{{participantemail}}</option>
            {{/courseparticipants}}
        </select>
    </div>
</div>